*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}


/* Landing Page Styles */

.jumbotron.jumbotron-fluid{
    margin: 0;  
    background-image: url('./assets/asteroids.jpg');
    color: white;
}

.navbar{
    background: black;
    margin-top: 0px;
    
    
}
span.navbar-toggler-icon{
    border: 1px solid rgba(255, 255, 255);
}
span.navbar-toggler{
    background: white;

}
.background-gamify{
    height: 300px;
    background-image: linear-gradient(black, #5f0a86);
    
}
h1{
    background-color: black;
    width: fit-content;
    font-size: 10px;
    padding: 1rem;
    opacity: 90%;
    color: rgb(255, 0, 255);;
}
.features-gamify{
 margin: auto;
 padding: 3rem;
}
.blurb-header{
    color: rgb(7, 195, 252);
}
.blurb-body{
    color: rgb(240, 187, 14);

}
.background-cards{
    background-color: #330055;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
padding: 10rem;
}
.features-card1{
 background-color: rgb(248, 193, 145);
}
.features-card2{
    background-color: rgb(38, 241, 214); 
}
.features-card3{
    background-color: rgb(248, 193, 145); 
}
.background-signup{
    padding: 5rem;
    background-color: #c2a2f3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23473268' fill-opacity='0.13' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}
.get-start{
    padding: 10rem;
    font-size: 3rem;
    text-align: center;
    
}
.signup-form{
    background-color: white;
    padding: 1rem;
    border-radius: 3rem;
}
/* Landing Page Navbar styles */
.landingNav{
    margin: 0;
   }
   .landingNavItem{
       text-decoration: none;
       text-align: center;
       width: 175px;
       color: rgb(255, 0, 255);
   }
   .login-button{
       color: #fff;
       background-color: rgb(0, 109, 128);
       color: yellow;
       padding: .5rem;
       border-radius: 1rem;
       
   }
   .brand{
       text-decoration: none;
       color:rgb(255, 0, 255);
   }






/* DashBoard Nav styles */
.dashNav{
background-color: black;
color: rgb(255, 0, 255);
margin: 0 15%;
}
.dashNavItem{
    padding: 5px 50px;
    display: block;
    text-align: center;

}


/* Footer Nav */
.footDashNav{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    
    height: 500px;
margin: auto;
border-top: black solid .5px;
}
.footNavItem{
    text-decoration: none;
    text-align: center;
    width: 300px;
    margin: 50px auto ;
    color: white;
    font-weight: 800;
}
/* Dashboard Grid Styles */

.dbGrid > div{
    margin: 10px auto;
  
}
.dbGrid{
    background-color:blueviolet
}

/* Big screen styles  */
@media screen and (min-width: 768px){
  
    
    .flex-container{
        display: flex;
    }
    
    .dashNavItem{
        text-decoration: none;
        text-align: center;
        width: 175px;

    }
    .footDashNav{

        height: 500px;
    }
    .footNavItem{
        text-decoration: none;
        text-align: center;
        width: 300px;
        margin: 50px auto ;
        font-weight: 800;
    }

    .dbGrid{
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    
    

}
/* Todo Grid Styles */
.todos-container{
   width: fit-content;
  
    
    
}
.todo-form{
   border: none;
   display: flex;
   
}
.todo-input{
    padding: 10px 20px;
    width: 100%;
}
.todo-button{
    padding: 1rem;
    color: #5f0a86;
    background: rgb(7, 195, 252);
    border: none;
    font-size: 1rem;
}
.todo-button:hover{
    padding: 1rem;   
    color:  #5f0a86;
    background: rgb(240, 187, 14);
    border: none;
    transition: all 0.3s ease;
    
}


ul li{
    list-style: none;
}
.complete-btn, .delete-btn{
background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.todo{
    display: flex;
}
.todo-item{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    background-color: white;
}
.todo-item:hover{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-bottom: solid black 1px;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

/* Habit Grid Styles */
.habits-container{
    padding: 0;
    width: fit-content;
    height: fit-content;
  
    
    
}
.habit-form{
   border: none;
   display: flex;
   
}
.habit-input{
    padding: 10px 20px;
    width: 100%;
}
.habit-button{
    padding: 1rem;
    color: pink;
    color: #5f0a86;
    background: rgb(7, 195, 252);
    border: none;
    font-size: 1rem;
}
.habit-button:hover{
    padding: 1rem;   
    color: red;
    background: pink;
    border: none;
    transition: all 0.3s ease;
    
}


.complete-btn, .delete-btn{
background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn{
    background: rgb(0, 109, 128);
    color: yellow;
}
.complete-btn:hover{
    background: yellow;
    color: rgb(0, 109, 128);
}
.delete-btn{
    background: red;
    color:rgb(38, 241, 214);
}
.delete-btn:hover{
    background: rgb(38, 241, 214);
    color:red;
}
.habit{
    display: flex;
    border-top: solid black 1px;
}
.habit-item{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    background-color: white;
}
.habit-item:hover{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-bottom: solid black 1px;
    
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
    background-color: white;
}

.streak-counter{
    width: 55px;
    height: fit-content;
    font-size: medium;
    background-color: white;
}
.delete-habit{
    height: fit-content;
    font-size: medium;
    background-color: orange;
    color: white;
}

/* Stats Grid Styles */
.place-holder{
    width: 277px;
    height: 258px;
    text-align: center;
}
.place-holder-content{
    text-align: center;
   width: 100%;
   height: 100%;
}
.new-link{
    border: none;
    background: transparent;
}
/* Sign up form styles */
.hr {
    background-color:#d5c8ff;

}


.get-started {
    margin-bottom: 1.5rem;
    border-radius: 0rem;
}

.get-started:hover{
    margin-bottom: 1.7rem;
    background-color: #b9a1e6;
} 


.form-text {
    font-family: 'Varela Round', sans-serif;
    
}
textarea:focus, input[type= "email"]:focus, input[type= "password"]:focus,input[placeholder="Username"]:focus {
    background-color: #1f0452;
    color: white;
}


input[type= "email"],input[placeholder="Username"], input[type= "password"]{
    background-color: #a38af7;
    color: black;
}

input::-webkit-input-placeholder {
    color: black !important;
    }

.shinyButton{
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 2em;
        text-transform: uppercase;
        font-family: 'Varela Round', sans-serif;
        letter-spacing: 4px;
        overflow: hidden;
        box-shadow: 0 5px 5px rgba(0,0,0.2);
        margin-bottom: 2rem;
}
.shinyButton:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(204, 189, 189, 0.1);
}
.shinyButton:after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: 0.5s;
    transition-delay: 0.5s;
    }
    .shinyButton:hover:after{
        left: 100%;
    }
    .shinyButton span{
        position: absolute;
        display: block;
        transition: 0.5s ease;
        }
     .shinyButton span:nth-child(1)
        {
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: #fff;
        }
        .shinyButton:hover span:nth-child(1)
        {
        width: 100%;
        transform: translateX(100%);
        }
        .shinyButton span:nth-child(3)
        {
        bottom: 0;
        right: 0;
        width: 0;
        height: 1px;
        background: #fff;
        }
        .shinyButton:hover span:nth-child(3)
        {
        width: 100%;
        transform: translateX(-100%);
        }
        .shinyButton span:nth-child(2)
        {
        top: 0;
        left: 0;
        width: 1px;
        height: 0;
        background: #fff;
        }
        .shinyButton:hover span:nth-child(2)
        {
        height: 100%;
        transform: translateY(100%);
        }
        .shinyButton span:nth-child(4)
        {
        bottom: 0;
        right: 0;
        width: 1px;
        height: 0;
        background: #fff;
        }
        .shinyButton:hover span:nth-child(4)
        {
        height: 100%;
        transform: translateY(-100%);
        }
        
        .grid-title{
            background-color: black;
            width: 275px;
            text-align: left;
            border: darkblue solid .5px;
            padding: 10px;
            color: rgb(255, 0, 255);
            margin-bottom: 0;
            
        }

        input[placeholder="Add Task"]{
            background-color: white;
        }
        