*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

/* DashBoard Nav styles */
.dashNav{
background-color: gray;
margin: 0 15%;
}
.dashNavItem{
    padding: 5px 50px;
    display: block;
    text-align: center;

}
.navbar{
    background: gray;
}

/* Footer Nav */
.footDashNav{

margin: auto;
}
.footNavItem{
    padding: 5px 50px;
    display: block;
    text-align: center;
    text-decoration: none;

}
/* Dashboard Grid Styles */

.dbGrid > div{
    border: solid black;
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
}

/* Big screen styles  */
@media screen and (min-width: 768px){
  
    
    .flex-container{
        display: flex;
    }
    
    .dashNavItem{
        text-decoration: none;
        text-align: center;
        width: 175px;

    }
    .footDashNav{
        background-color: gray;
        height: 500px;
    }
    .footNavItem{
        text-decoration: none;
        text-align: center;
        width: 300px;
        border: solid black 1px;
        margin: 50px auto ;

    }

    .dbGrid{
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    

}
/* Todo Grid Styles */
.todos-container{
    padding: 0;
    width: fit-content;
    height: fit-content;
  
    
    
}
.todo-form{
   border: none;
   display: flex;
   margin-bottom: 10px;
   
}
.todo-input{
    padding: 10px 20px;
    width: 100%;
}
.todo-button{
    padding: 1rem;
    color: pink;
    background: red;
    border: none;
    font-size: 1rem;
}
.todo-button:hover{
    padding: 1rem;   
    color: red;
    background: pink;
    border: none;
    transition: all 0.3s ease;
    
}


ul li{
    list-style: none;
}
.complete-btn, .delete-btn{
background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.todo{
    display: flex;
}
.todo-item{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}
.todo-item:hover{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-bottom: solid black 1px;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

/* Habit Grid Styles */
.habits-container{
    padding: 0;
    width: fit-content;
    height: fit-content;
  
    
    
}
.habit-form{
   border: none;
   display: flex;
   margin-bottom: 10px;
   
}
.habit-input{
    padding: 10px 20px;
    width: 100%;
}
.habit-button{
    padding: 1rem;
    color: pink;
    background: red;
    border: none;
    font-size: 1rem;
}
.habit-button:hover{
    padding: 1rem;   
    color: red;
    background: pink;
    border: none;
    transition: all 0.3s ease;
    
}



.complete-btn, .delete-btn{
background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.habit{
    display: flex;
    border-bottom: solid black 1px;
}
.habit-item{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}
.habit-item:hover{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.streak-counter{
    width: 55px;
    height: fit-content;
    font-size: medium;
}
.delete-habit{
    height: fit-content;
    font-size: medium;
}
